body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 10px;
}
#header
{
	background-color:red;
	height:50px;
	margin:10px;
	border-radius:5px;
}
h1
{
	text-align:center;
    position:relative;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
}
#nav1
{
	margin:10px;
	height:25px;
	background-color:red;
	border-radius:5px;	
}
.sidebar
{
	float:right;
	width:200px;
	background-color:green;
	margin-top:0px;
	margin-right:10px;
	margin-left:10px;
	border-radius:5px;
}
.content
{
	background-color:grey;
	margin:10px;
	border-radius:5px;
	padding:10px;
}
#next
{
    width:100px;
    text-align:center;
    background-color:red;
    color:black;
    line-height:40px;
    border-radius:5px;
    margin:10px;
    display:inline-block;
}
#footer
{
	background-color:brown;
	height:20px;
	margin:10px;
	border-radius:5px;
	text-align:center;
	font-size:80%;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.image2{
	text-align:center;
}

